@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.active-tab {
  background-color: #41B3A3;
  color: #fff;
}